body {
    margin: 0;
    padding: 0;
}

.navbar {
    background: white;
    padding: 10px;
}

.navbar a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

button {
    padding: 10px 15px;
    background: lightgray;
    border: none;
    border-radius: 5px;
}

.logo {
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

thead th {
    padding: 5px;
    text-align: center;
}

tbody td {
    padding: 5px;
    border-bottom: 1px solid white;
    text-align: center;
}

.edit-in {
    box-sizing: border-box;
    padding: 5px;
    display: block;
    margin-bottom: 5px;
}

.char1 {
    color: blue
}

.char2 {
    color: red
}

.char3 {
    color: black
}

.list-detail-li {
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.list-edit-li {
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.checkbox-container {
    display: flex;
    /* Use flexbox to layout the children */
    align-items: center;
    /* Align items vertically */
    padding: 10px;
    /* Add some padding around the container */
    background-color: #f2f2f2;
    /* Light grey background */
    border-radius: 25px;
    /* Rounded corners */
    margin: 10px 0;
    /* Some margin to the top and bottom */
}

.checkbox-label {
    margin-right: 10px;
    /* Space out labels */
    display: flex;
    align-items: center;
}

.checkbox-label input[type="checkbox"] {
    margin-right: 5px;
    /* Space between the checkbox and the label text */
}

.checkbox-label input[type="text"] {
    border: 1px solid #ccc;
    /* A simple border */
    border-radius: 5px;
    /* Slightly rounded corners for the input fields */
    padding: 5px 10px;
    /* Some padding inside the text inputs */
    margin-left: 5px;
    /* Space out from the label or previous input */
}



.line-button {
    padding: 10px;
    margin-right: 5px;
    background-color: #f0f0f0;
    border: 1px solid #dcdcdc;
    cursor: pointer;
}

.line-button.selected {
    background-color: blue;
    color: white;
}

.line-button:last-child {
    margin-right: 0;
}



/* 검색 입력란 스타일링 */
.input-search {
    width: 120px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* 일치하는 목록 아이템의 컨테이너 스타일링 */
.search-results {
    width: 150px;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    border: 1px solid #ccc;
    border-top: none;
    /* 입력란과 맞닿은 경계선 제거 */
}

/* 각 챔피언 목록 아이템 스타일링 */
.search-results li {
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.search-results li:hover {
    background-color: #f7f7f7;
}

/* 챔피언 이름과 이미지가 함께 표시되도록 함 */
.search-results li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* 마지막 리스트 아이템은 하단 경계선이 없어야 함 */
.search-results li:last-child {
    border-bottom: none;
}